
body {
    background-color: black;
    color: antiquewhite;
}
fieldset {
    background-color: rgb(131, 130, 130);
    color: antiquewhite;
}

input[type=text] {
    height: 50px;
    border-radius: 20px;
}

input[type=submit] {
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    background-color: green;
    color: antiquewhite;
}